<nav class="navbar navbar-expand-md">
    
    <div class="container">
        <a class="navbar-brand" id="title" href="/">
            <img src="/assets/images/mongoicon.jpg" style="height: 30px; padding: 0px;">
            <strong>MongoDB Scraper</strong>
        </a>
        <div>
            
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <button type="button" class="btn-primary">
                        <a href="/">Home</a>
                    </button>
                </li>

                <li class="nav-item">
                    <button type="button" class="btn-secondary">
                        <a href="/saved">
                            Saved Articles
                        </a>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn-success" id="scrape">
                        Scrape Articles
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn-danger" id="delete">
                        Delete Articles
                    </button>
                </li>
            </ul>
            
        </div>
    </div> 

</nav> 
<br>





